.header{
   display:flex;
   justify-content:space-between;
   border:solid black;
}

.logo{
    width:200px
}
.nav-items{
    padding:0,240 ;

}
.nav-items >ul{
    font-size: 24px;
    display:flex;
    list-style-type: none;
}
.nav-items> ul > li{
    padding: 10px;
    margin:10px
} 
.res-card{
    margin:5px;
    width:200px;
    padding: 5px;
    /* height:400px; */ 
    /* will be adjust automatically */

}
.res-card:hover{
    cursor: pointer;
    border: 1px solid black;

}
.res-container{
    display: flex;
    flex-wrap: wrap;

}
.search{
    padding:10px
}
.res-logo{
    width:100%;
}

.shimmer-card{
    margin:20px;
    width:200px;
    padding: 5px;
    height: 400px; 
    /* no content no height */
    background-color:#f0f0f0 ;

}
.shimmer-container{
    display: flex;
    flex-wrap: wrap;

}
.filter{
    display:flex;
    flex-wrap: wrap;
}

/* if i don't provide height it will adjust according to content nut if there is no content then there will be no height */